<% if signed_in? %>
  <%=render "shared/navbar"%>
<% else %>
  <%=render "landing/navbar"%>
<% end %>
<section class="section">
  <div class="columns">
    <div class="column is-offset-3-desktop is-2 has-text-right">
      <i class="fas fa-map-marker-alt fa-5x has-text-info" aria-hidden="true"></i>
    </div>
    <div class="column is-6">
      <p><strong class="title">MI CIUDAD</strong></p>
      <p><span class="is-size-3">Reporte Ciudadano</span></p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-4 is-offset-1 is-flex is-align-items-center">
      <div class="has-text-right">
        <h2 class="is-size-3 has-text-info-dark">Bienvenid@</h2>
        <h2 class="subtitle">
          Porque <strong>nuestra ciudad</strong> es responsabilidad de todas y todos; tu ayuda es escencial para mantenerla limpia, ordenada y funcional.
        </h2>
      </div>
    </div>
    <div class="column is-6">
      <%= image_tag 'landing/family-bycicle.jpg' %>
    </div>
  </div>
  <div class="columns">
    <div class="column is-4 is-offset-2">
      <h2 class="is-size-3">¿Como va mi reporte?</h2>
      <span class="subtitle">Para conocer el estado de un reporte solo es necesario proporcionar el folio que lo identifica.</span>
      <%= form_with url: complaints_search_path, id:"find_complaint", method: :get do |f| %>
        <div class="field has-addons mt-1">
          <div class="control">
            <input name="id" class="input" type="text" placeholder="Folio de reporte">
          </div>
          <div class="control">
            <%= button_tag type: 'submit', form:"find_complaint", class: "button is-info", disable_with: 'Enviando...' do %>
              <i class="fas fa-search" aria-hidden="true"> </i>&nbsp;Buscar
            <% end %>
          </div>
        </div>
      <% end %>
      <%# <div class="field has-addons mt-1">
        <div class="control">
          <input class="input" type="text" placeholder="Folio de reporte">
        </div>
        <div class="control">
          <a class="button is-info">
            Buscar
          </a>
        </div>
      </div> %>
    </div>
    <div class="column is-4">
      <h2 class="is-size-3">Regístrate</h2>
      <span class="subtitle">Como usuario registrado podrás visualizar todos tus reportes y recibir notificaciones.</span>
      <div class="control has-icons-left mt-1">
        <%= link_to new_user_registration_path, class: "button is-info" do %>
          <i class="fas fa-user-plus" aria-hidden="true"> </i>&nbsp;Quiero registrarme
        <% end %>
      </div>
    </div>
  </div>
</section>
