<div id="<%= dom_id complaint %>">
  <p>
    <strong>Subject:</strong>
    <%= complaint.subject %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= complaint.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= complaint.address %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= complaint.street %>
  </p>

  <p>
    <strong>Neighbourhood:</strong>
    <%= complaint.neighbourhood %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= complaint.town %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= complaint.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= complaint.longitude %>
  </p>

  <p>
    <strong>User:</strong>
    <%= complaint.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= complaint.category_id %>
  </p>

</div>
