<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8-fullhd">
        <div class="mb-5">
          <h2 class="is-size-3 has-text-info-dark mb-3"><%= @complaint.subject %></h2>
          <% if @complaint.description %>
            <p class="subtitle">
              <%= @complaint.description %>
            </p>
          <% end %>
        </div>
        <div class="columns">
          <div class="column">
            <p class="is-size-5"><strong>Categoría:</strong> <%= @complaint.category.name %></p>
          </div>
          <div class="column">
            <p class="bd-notification is-info"><span class="tag <%= status_css(@complaint.status) %> is-medium">
                <%= status_name(@complaint.status) %></span></p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <p class="is-size-5"><strong>Domicilio:</strong> <%= "#{@complaint.address}, Col. #{@complaint.neighbourhood}" %></p>
          </div>
          <div class="column">
            <p class="is-size-5">
              <strong>Localidad:</strong> <%= "#{@complaint.town}"  %></span></p>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p class="is-size-5"><strong>Ubicación:</strong>
            <%= link_to "#", class: "button is-info is-light" do %>
              <i class="fas fa-map-marker-alt" aria-hidden="true"> </i>&nbsp;Ver en mapa
            <% end %>
          </p>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <%= link_to dashboards_url, class: "button is-light" do %>
                <i class="fas fa-chevron-circle-left" aria-hidden="true"> </i>&nbsp;Regresar
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-8-mobile is-8-tablet is-3-desktop is-4-fullhd">
      <%= image_tag 'complaint/new-complaint.jpg', alt: "Nuevo reporte ciudadano" %>
    </div>
  </div>
</div>
</section>
