<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8-fullhd">
        <div class="mb-5">
          <span class="tag <%= status_css(@complaint.status) %> is-medium">
            <%= status_name(@complaint.status) %></span>
          <h2 class="is-size-3 has-text-info-dark mb-3"><%= @complaint.subject %> </h2>
          <% if @complaint.description %>
            <p class="subtitle">
              <%= @complaint.description %>
            </p>
          <% end %>
        </div>
        <div class="columns">
          <div class="column">
            <p class="is-size-5"><strong>Folio:</strong> <%= format_id(@complaint.id) %></p>
          </div>
          <div class="column">
            <p class="is-size-5"><strong>Categoría:</strong> <%= @complaint.category.name %></p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <p class="is-size-5"><strong>Domicilio:</strong> <%= "#{@complaint.address}, Col. #{@complaint.neighbourhood}" %></p>
          </div>
          <div class="column">
            <p class="is-size-5">
              <strong>Localidad:</strong> <%= "#{@complaint.town}"  %></span></p>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p class="is-size-5"><strong>Fotos:</strong></p>
          <% if @complaint.images
            @complaint.images.each do |image| %>
            <%= display_image(image, type: :upload, width: 0.40, crop: "scale", quality: "auto", gravity: "auto", size: [150,150]) %>
          <% end
          end %>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p class="is-size-5"><strong>Ubicación:</strong>
            <%= button_tag "#", disable: 'disable', class: "button is-info is-light" do %>
              <i class="fas fa-map-marker-alt" aria-hidden="true"> </i>&nbsp;Ver en mapa
            <% end %>
          </p>
        </div>
      </div>
      <%= render "complaints/response_form"%>
      <%= render "complaints/users_actions"%>
    </div>
    <div class="column is-8-mobile is-8-tablet is-3-desktop is-4-fullhd">
      <%= image_tag 'complaint/complaint-detail.jpg', alt: "Detalle de reporte" %>
    </div>
  </div>
</div>
</section>
