<section class="section">
  <div class="columns">
    <div class="column is-8-mobile is-8-tablet is-6-desktop is-4-fullhd is-offset-4-fullhd is-offset-3-desktop is-offset-2-tablet is-offset-2-mobile">
      <figure class="image">
        <%= image_tag 'devise/restore-password.jpg' %>
      </figure>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered is-8-mobile is-8-tablet is-6-desktop is-6-fullhd is-offset-3-fullhd is-offset-3-desktop is-offset-2-tablet is-offset-2-mobile">
      <h1 class="title">¿No recuerdas tu contraseña?</h1>
      <h2 class="subtitle">
        No te preocupes, puedes restablecerla, solo es necesario que introduzcas el correo electrónico 
        que utilizas para iniciar sesión.
      </h2>
    </div>
  </div>
  <div class="columns mt-5">
    <div class="column is-8-mobile is-8-tablet is-6-desktop is-4-fullhd is-offset-4-fullhd is-offset-3-desktop is-offset-2-tablet is-offset-2-mobile">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email", placeholder: "mi@correo.com" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="field is-grouped is-grouped-centered mt-5">
          <p class="control">
            <%= button_tag type: 'submit', form:"new_user", class: "button is-info", disable_with: 'Enviando...' do %>
              <i class="fas fa-redo" aria-hidden="true"> </i>&nbsp;Restaurar contraseña
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</section>
