<nav class="navbar is-info">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <%= image_tag 'application/logo-mi-ciudad.png', alt: "Mi Ciudad: Reporte ciudadano" %>
      <% end %>
      <span class="navbar-burger" data-target="landingMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="landingMenu" class="navbar-menu">
      <div class="navbar-start">
        <% if signed_in? %>
          <%= link_to 'Inicio', dashboards_path, class: "navbar-item" %>
        <% end %>
      </div>
      <div class="navbar-end">
        <span class="navbar-item">
          <% if signed_in? %>
            <%= link_to destroy_user_session_path, class: "button is-info is-inverted", 'data-turbo-method': :delete do %>
              <i class="fas fa-sign-out-alt" aria-hidden="true"></i>&nbsp;Cerrar sesión
            <% end %>
          <% else %>
            <% unless current_page?(new_user_session_path) %>
              <%= link_to new_user_session_path, class: "button is-info is-inverted" do %>
                <em class="fas fa-user"></em>&nbsp;Acceso
              <% end %>
            <% end %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</nav>
