<!DOCTYPE html>
<html>
  <head>
    <title>ReporteCiudadano</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/0187e7cebe.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <% unless notice.nil? %>
      <div class="notification is-success is-light has-text-centered mb-0"><%= notice %></div>
    <% end %>
    <% unless alert.nil? %>
      <div class="notification is-danger is-light has-text-centered mb-0"><%= alert %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
